[Unit]
Description=TaskBoard Service
After=network.target

[Service]
User={{ ansible_user }}
ExecStart=/usr/bin/npm start --prefix /home/{{ ansible_user }}/taskboard
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/{{ ansible_user }}/taskboard

[Install]
WantedBy=multi-user.target